/* Region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.section-header {
  background-color: #fff;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 320px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1440px;
  }
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  flex: 0;
}
@media screen and (max-width: 1158px) {
  .header-nav {
    flex: 1;
  }
}
/* Тут проблема може бути з відступами */
.header-nav-list {
  display: none;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    margin-left: 120px;
    display: flex;
  }
}
@media screen and (min-width: 1158px) {
  .header-nav-list {
    margin-left: 76px;
    margin-right: auto;
  }
}
.nav-list-item {
  padding-bottom: 24px;
  padding-top: 24px;
  display: block;
}
.logo {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 16px;
  padding-top: 16px;
  /* padding-right: 16px; */
}
@media screen and (min-width: 768px) {
  .logo {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}
.color-slate-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.burger-menu {
  position: absolute;
  display: block;
  right: 16px;
  top: 16px;
  border: none;
  background: transparent;
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
.color-link-header-active {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  position: relative;
  text-decoration: none;
  transition: color var(--transition);
}
/* .color-link-header-active:hover {
  color: var(--ocean);
  border-radius: 2px;
} */
/* .color-link-header-active:active,
.color-link-header-active:focus {
  color: var(--ocean);
  outline: 2px solid transparent;
  transition: color var(--transition);
} */
.color-link-header-active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background: var(--ocean);
  transition: opacity var(--transition);
}
/* .color-link-header-active:hover::after,
.color-link-header-active:focus::after, */
.color-link-header-active.active::after {
  opacity: 1;
}
.active {
  color: var(--ocean);
  border-radius: 2px;
}
.color-link-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  position: relative;
  text-decoration: none;
  transition: color var(--transition);
}
.color-link-header:hover,
.color-link-header:focus {
  color: var(--ocean);
}
.color-link-header::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean);
  opacity: 0;
  transition: opacity var(--transition);
}

/* .color-link-header:hover::after,
.color-link-header:focus::after, */
.color-link-header.active::after {
  opacity: 1;
}
.address-link-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .address-link-mobile-menu {
    display: none;
  }
}
.address-link-position {
  display: none;
}
@media screen and (min-width: 768px) {
  .address-link-position {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .address-link-position {
    flex-direction: row;
    gap: 40px;
    padding: 0;
  }
}
.address-link {
  transition: color var(--transition);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
@media screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

/* End of Header */
