/* region Hero */
/* .hero-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
} */
.hero {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  z-index: 1;
  position: relative;
  max-width: 1440px;
  margin: auto;
  margin-top: 1px;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  background-color: #2e2f42;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* мобільне зображення x1 */
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../../images/people-office-mob.jpg');
}

/* мобільне x2 */
@media screen and (max-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../../images/people-office-mob@2x.jpg');
  }
}

/* таблет x1 */
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 136px;
    padding-bottom: 136px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../../images/people-office-tab.jpg');
  }
}

/* таблет x2 */
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../../images/people-office-tab@2x.jpg');
  }
}

/* десктоп x1 */
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../../images/people-office.jpg');
  }
}

/* десктоп x2 */
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../../images/people-office@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
/* 1*=96dpi
2*=192dpi
3*=288dpi */
.h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .h1 {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .h1 {
    font-size: 56px;
    line-height: 1.07;
  }
}
.button {
  margin: 72px auto 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: none;
  transition: background-color var(--transition);
}
@media screen and (min-width: 768px) {
  .button {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .button {
    margin-top: 48px;
  }
}
.button:hover,
.button:focus {
  background-color: var(--ocean);
}

/* end of Hero */
